body {
	background-color: #212529;
}

input {
	background: none;
	border: none;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	color: white;
	outline: none;
}
input:first-child {
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	border-left: 2px solid transparent;
	color: white;
	outline: none;
	text-align: center;
}
span {
	text-align: center;
	background-color: rgb(40, 40, 40);
	font-size: 16px;
	font-weight: bold;
	padding: 0.5em;
}
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(41, 41, 41);
}
